@import "tailwindcss";

@theme {
  --color-background: #FFFDFA;
  --color-foreground: #4e4a40;
  
  --color-primary: #63FF90;
  --color-secondary: #FF63DB;
  --color-accent1: #FF9263;
  --color-accent2: #AC63FF;
  --color-accent3: #63D6FF;

  --font-body: var(--font-kantumruy);
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body), sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: var(--font-body), sans-serif;
  font-weight: 700;
  color: var(--color-foreground);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-foreground);
}